---
import MainLayout from '@/layouts/MainLayout.astro';

const cart = Astro.cookies.get('cart');
---

<MainLayout title="Carrito de compras">
  <h1>Carrito</h1>

  <code>
    {JSON.stringify(cart)}
  </code>
</MainLayout>
