---
import MainLayout from '@/layouts/MainLayout.astro';
import { actions } from 'astro:actions';

const { data: products, error } = await actions.getProductsByPage.safe({});

if (error) {
  return Astro.redirect('/');
}

console.log(products);
---

<MainLayout>
  <h1 class="text-3xl">Home Page</h1>
</MainLayout>
