---
import MainLayout from '@/layouts/MainLayout.astro';
import { getSession } from 'auth-astro/server';

const session = await getSession(Astro.request);

const { user } = session ?? {};
---

<MainLayout>
  <h1 class="text-3xl">Home Page</h1>
  <pre>
    <code>
      { JSON.stringify(user) }
    </code>
  </pre>
</MainLayout>
