---
import { actions } from 'astro:actions';
import MainLayout from '@/layouts/MainLayout.astro';
import Pagination from '@/components/shared/Pagination.astro';
import { ProductList } from '@/components';

const searchParams = Astro.url.searchParams;
const pageParam = Number(searchParams.get('page') ?? 1);

const { data, error } = await actions.getProductsByPage.safe({
  page: pageParam,
});

if (error) {
  return Astro.redirect('/');
}

const { products, totalPages } = data;

if (data.products.length === 0) {
  return Astro.redirect(`/?page=${totalPages}`);
}
---

<MainLayout>
  <h1 class="text-3xl">Listado de productos</h1>

  <ProductList products={products} client:idle />

  <Pagination totalPages={totalPages} />
</MainLayout>
