---
import Navbar from '@/components/shared/Navbar.astro';

import '@/assets/styles/global.css';

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const { title = 'Astro Store' } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />

    <main class="container m-auto max-w-5xl px-5 mt-20">
      <slot />
    </main>
  </body>
</html>
